<div (window:resize)="onResize($event)">

  <div [ngSwitch]="mobileMenu">

    <nav *ngSwitchCase="'medium'">

      <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a [routerLink]="['/']">Home</a></li>
        <li role="presentation"><a [routerLink]="['/items']">ItemList</a></li>
        <li role="presentation"><a [routerLink]="['/pages/dashboard']">Dashboard</a></li>
        <li role="presentation"><a [routerLink]="['/about']">About</a></li>
        <li role="presentation"><a [routerLink]="['/github', 'angular']">Github Repos</a></li>
      </ul>

    </nav>

    <nav *ngSwitchCase="'small'">
      <!-- <ul>
            <li><a [routerLink]="['/items']">ItemList</a></li>
            <li><a [routerLink]="['/about']">About</a></li>
          </ul> -->




    </nav>

  </div>
</div>
